<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Fernando Romo">
        <title>FitFlow Pro</title>
        <link rel="icon" href="Flogo.png" type="images/png" />
  
        <link rel="stylesheet" href="style.css" type="text/css"/>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    </head>

    <body>
      <header>
        <h2 class="logo">Beyond Backdrops</h2>
        <nav class="navigation">
            <a th:href="@{/home}">Home</a> 
            <form th:action="@{/logout}" method="post" style="display:inline;">
                <button type="submit" class="btnLogin-popup">Log Out</button>
            </form>
        </nav>
    </header>
        <h1>Welcome </h1>
        <h1 th:text="${username}"> username</h1>
              
      
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </body>
</html>
